<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <title>To Do List</title>
    <meta content="text/html; charset=UTF-8"/>

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lux/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-smnSwzHqW1zKbeuSMsAM/fMQpkk7HY11LuHiwT8snL/W2QBoZtVCT4H5x1CEcJCs"
          crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand">
            <ya-tr-span data-index="53-0" data-value="Navbar" data-translation="Navbar" data-type="trSpan">All Cases
                <Cases></Cases>
            </ya-tr-span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Переключение навигации">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">
                        <ya-tr-span title="Главная" data-index="54-0" data-value="Home " data-translation="Главная"
                                    data-type="trSpan">Home
                        </ya-tr-span>
                        <span class="sr-only">
                            <ya-tr-span data-index="54-0" data-value="(current)" data-translation="(текущая)"
                                        data-type="trSpan">(текущая)</ya-tr-span></span></a></li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/add}">
                        <ya-tr-span title="Добавить дело" data-index="55-0" data-value="Features"
                                    data-translation="Добавить дело" data-type="trSpan">Add Case
                        </ya-tr-span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <style>
        .myTable {
            margin: auto;
            width: 70%;
        }


    </style>

</head>
<body>
<br>
<div class="myTable">
    <table class="table table-hover">
        <tr class="table-active">
            <th scope="row">Case name</th>
            <th scope="row">Description</th>
            <th scope="row">Time</th>
            <th scope="row">Delete</th>
            <th scope="row">Update</th>
        </tr>
        <tr th:each="case : ${cases}">
            <td th:text="${case.name}"></td>
            <td th:text="${case.description}"></td>
            <td th:text="${case.time}"></td>
            <td>
                <form method="post" th:action="${case.id} + '/remove/'">
                    <button title="Удалить" type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </td>
            <td>
                <a th:href="${case.id} + '/update/'" title="Изменить" class="btn btn-outline-success">Edit</a>
            </td>
        </tr>
    </table>
</div>


</body>
</html>
